/*CSS navbar + config. gerais - remover comentarios dps*/
.topo{
    background-color: #ff943c;
    height: 7.5%;
    box-shadow:0 4px 8px rgba(170, 94, 6, 0.507);
    padding: 1rem 0;
    overflow: hidden;
}
.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand img{
    max-height: 64px;
    width: auto;
}
nav a, nav img{
    max-height: 64px;
}
/*CSS body*/
body{
    background-color: #cfcfcf;
    height: 100vh;
    padding-top: 64px;
}
.spacing{
    background-color: white;
}
.contmeio{
    height:100vh;
}
.contmeio,.contheader{
    max-width: 70.8%;
    margin: 0 auto;
    padding: 0 15px;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.card:hover{
    transform: translateY(-5px);
}
.carousel-inner {
    padding: 1em;
}
.img_pad{
    border-radius: 5px;
}
.btn .btn-light{
    background-color: #6e6e6e;
}
.gradejogos{
    height: 56%;
    width: auto;
}
.card-jogo{
    max-width: 12em; /*usei em aq pra ficar prop. ao tamanho do card!!*/
    min-width: 15em; 
}
.card-jogo img{
    max-width: 100%;
}
.cont-cards{
    gap: 20px;
    width: 100%;
}
/*CSS Carrinho*/
.infocart,.infocart2{
    height: 45rem;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
}
